body{
    background: linear-gradient(rgb(76, 3, 76),rgb(80, 13, 80),rgb(73, 30, 73));
}
label{
    display: block;
    color: blanchedalmond;
}
.btn{
    transition: 0.5s;
}
.btn:hover{
transform: scale(1.1);
transition: 1s;
}